*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.container{
    margin-left: 15%;
    margin-right: 15%;
    padding: 0 20px;
    background: #E6E6E6;
    box-shadow: 0 0.3em 0.3em 0.3em #000;
}
